
	<ul class='social'>
		<li class='social'>
			<a href="https://twitter.com/share" class="twitter-share-button"
			data-text="<%= truncate(strip_tags(@daily_quote.quote), :length => 97) %>" data-via="GriswoldAdvent">Tweet</a>
		</li>
		<li class='social'>
			<fb:like href="http://griswoldadvent.com/" send="false" layout="button_count" width="150" show_faces="false"></fb:like>
		</li>
	</ul>
