<div class='row-fluid'>
	<div class='span12'>
		<p>
			<span class='date effect'>
		  	Starting Dec 1 we will be posting a new quote from America's favorite Christmas movie, National Lampoons Christmas Vacation.
			</span>
		</p>
	</div>
</div>
<div class='spacer'>
	<%= render 'social_media' %>
</div>

