<div class='row-fluid'>
	<div class='span12'>
		<span class='date effect'>
		  Quote for December <%= @daily_quote.show_date %>
		</span>
	</div>
</div>
<br/><br/>
<div class='row-fluid'>
	<div class='span12'>
		<span class='quotes'>
		  <%= @daily_quote.quote.html_safe %>
		</span>
	</div>
</div>
<div class='spacer'>
	<%= render 'social_media' %>
</div>

