/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require_self
 *= require_tree .
 */

body {
	background-image:url(nlcv.jpg);
	background-position: auto 100%; 
	background-repeat:no-repeat; 
	background-size: cover;
	background-color: black;
}

.container {
	vertical-align: middle;
}

span {
	background: rgba(54, 25, 25, .5);
	font-family: 'Abel', sans-serif;
	color: white;
}

.quotes {
	font-size: 35px;
	line-height: 55px;
}

.date {
	font-size: 45px;
	line-height: 75px;
	font-weight: bold;
}

.past-dates {
	font-size: 20px;
	line-height: 30px;
	background: none;
	margin-bottom: 30px;
}

.effect{
	text-shadow: -5px 5px 5px rgba(0,0,0, 0.3);
	letter-spacing: 0;
}

.spacer {
	height: 30px;
}

label {
	font-size: 20px;
	color: white;
}

/* Sticky footer styles -------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -100px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 100px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.credit {
	margin-top: 10px;
}



