/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require_self
 *= require_tree .
 */

body {
	background-image:url(nlcv.jpg);
	background-position: 50% 0; 
	background-repeat:no-repeat; 
	background-size: cover;
	background-color: black;
}

.container {
	vertical-align: middle;
}

span {
	background: rgba(54, 25, 25, .5);
	font-family: 'Abel', sans-serif;
	color: white;
}

.quotes {
	font-size: 45px;
	line-height: 65px;
}

.date {
	font-size: 55px;
	line-height: 85px;
}

.effect{
text-shadow: -5px 5px 5px rgba(0,0,0, 0.3);
letter-spacing: 0 }

.summary {
	margin-top: 60px;
	font-family: 'Abel', sans-serif;
	color: white;
	font-size: 25px;
	font-weight: bold;
}

.summary-row {
	margin-bottom: 20px;
}

a.inactive {
	font-color: red;
}

