<div id="footer">
  <div class="container">
		<div class='row-fluid'>
			<div class='span12'>
				<% if @quotes.present? %>
					<span class= 'past-dates'>
						<strong>Previous quotes: <br/></strong>|
						<% @quotes.each do |quote| %>
							<%= link_to quote.show_date, daily_quote_path(quote) %> |
						<% end %>
					</span>
				<% end %>
			</div>
		</div>
  </div>
</div>